// styles/paper-dropdown-menu-item.scss

.md-menu-command {
  float: left;
}
.md-menu-shortcut {
  margin-left: 1em;
  float: right;
  padding-top: 1px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.67);
}
.md-menu-checkmark {
  position: absolute;
  left: 2px;
  top: 8px;
  font-size: 1.25em;
}
md-menu-item > .md-button {
  padding-left: 24px;
}
md-menu-content {
  max-height: inherit !important;
}
