<h2 id="title">Ember Paper Cuts</h2>

{{#paper-table}}
  <thead>
    <tr>
      <th class="icon-column"></th>
      <th>>Name</th>
      <th>Age</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {{#each models as |item|}}
      {{#paper-row}}
        {{#paper-column icon="true"}}
          <img src={{item.image}}>
        {{/paper-column}}
        {{#paper-column}}{{item.name}}{{/paper-column}}
        {{#paper-column}}{{item.age}}{{/paper-column}}
        {{#paper-column}}{{item.location}}{{/paper-column}}
      {{/paper-row}}
    {{/each}}
  </tbody>
{{/paper-table}}